:root {
  --color-text: rgb(218, 222, 231);
}
html,
body {
  height: 100%;
}
body {
  display: grid;
  place-items: center;
  background-color: rgb(19, 21, 50);
}

button {
  color: var(--color-text);
  font-size: 3rem;
  border-radius: 8px;
  border: 2px solid var(--color-text);
  padding: 1rem 1.5rem;
}

.button-inactive {
  background-color: rgb(39, 40, 52);
}
.button-active {
  background-color: rgb(76, 163, 76);
}
